* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(192, 65%, 84%);
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: url("/Imagenes/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    justify-content: center;
    align-items: center;
    margin: 3rem auto; /* Centra horizontalmente y agrega margen superior */
    padding: 5rem;
    border-radius: 50px;
    width: 80%; /* Ajusta el ancho para que no sea demasiado grande en móviles */
    
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #E9F1FA;
    color: #00ABE4;
}

.announcements {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #00ABE4;
    height: 40px;
    color: #f8f8f8;
    font-size: 1.2rem;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border: 1px solid #E9F1FA;
    border-radius: 5px;
    background-color: hsla(212, 63%, 95%, 0.486);
    padding: 1rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.recomendar, .value {
    display: list-item;
    align-items: center;
    margin-bottom: 10px;
}

.motivos textarea {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.buttons > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border: 2px solid #e9f1fa;
    height: 3rem;
    width: 10rem;
    border-radius: 5px;
    background-color: #e9f1fa7c;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

input:valid,
select:valid,
textarea:valid {
    border-color: green;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    main {
        padding: 2rem; /* Reduce el padding en móviles */
        width: 95%; /* Ocupa casi todo el ancho en móviles */
        margin: 1rem auto; /* Reduce el margen en móviles */
    }

    section {
        padding: 1rem; /* Reduce el padding en secciones en móviles */
        margin: 0.5rem; /* Reduce el margen en secciones en móviles */
        width: 95%; /* Ocupa casi todo el ancho en secciones en móviles */
    }
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 480px) {
    main {
        padding: 1rem; /* Reduce aún más el padding en pantallas muy pequeñas */
    }
}

button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border: 2px solid #e9f1fa;
    height: 3rem;
    width: 10rem;
    border-radius: 5px;
    background-color: #e9f1fa7c;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
  }