* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  /*Estilo para todo el documento en general*/
  body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: url("/Imagenes/background.webp"); /* Asegúrate de que la ruta es correcta */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
}
  

/*Estilo para todo el contenido dentro de main*/
  main{
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    margin-top: 3rem;
    padding: 5rem;

    border-radius: 50px;
  }

/*Estilo para la barra de navegación*/
  .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #E9F1FA;
    color: #00ABE4;
  }

/*Barra donde apareceran anuncios o texto destacable*/
  .announcements{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #00ABE4;
    height: 40px;
    color: #f8f8f8;
    font-size: 1.2rem;
  }


/*Centrar texto del label y que ocupe todo el ancho de su contenedor
y tambien que tenga un margen abajo*/
    .schedule > p, .personalized-hour >p{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding-bottom: 15px;
    }
/*Deja un espacio arriba en el texto de horario personalizado*/
    .personalized-hour >p{
        padding-top: 2rem;
    }

    .hours{
        text-align: center;
    }
        

/*Da estilo a la seccion de "preffer-pay-method"(metodo de pago preferido)*/

    section {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      border: 1px solid #E9F1FA;
      border-radius: 5px;
      background-color: #e9f1fa7c;
      padding: 1rem;
  }

  .buttons{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    gap: 1rem;
  }

  .buttons > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border: 2px solid #e9f1fa;
    height: 3rem;
    width: 10rem;
    border-radius: 5px;
    background-color: #e9f1fa7c;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

/*Estilo para todo la seccion "purchase-frequency"(frecuencia de compra)*/
    .purchase-frequency{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }


    .hour> label, .preffer-pay-method > label, .purchase-frequency > label{
        text-align: center;
    }

    .hour{
        display: flex;
        flex-direction: column;
    }


    .pay-options {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 5px;
  }
  
  .pay-options label {
      display: flex;
      align-items: center;
      font-size: 16px;
      cursor: pointer;
  }
  
  .pay-options input[type="radio"] {
      margin-right: 10px;
  }